<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="eBusiness/fragments/head :: head">
</head>
<body>
	<header th:fragment="header">
		<!-- header-area start -->
		<div id="sticker" class="header-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">

						<!-- Navigation -->
						<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
								</button>
								<!-- Brand -->
								<a class="navbar-brand page-scroll sticky-logo" href="index.html">
									<h1 th:text="#{zyy.navbar.brand}">
										<span>e</span>Business
									</h1> <!-- Uncomment below if you prefer to use an image logo --> <!-- <img src="eBusiness/img/logo.png" alt="" title=""> -->
								</a>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
								<ul class="nav navbar-nav navbar-right">
									<li class="active"><a class="page-scroll" href="#home" th:text="#{zyy.navbar.home}">Home</a></li>
									<li><a class="page-scroll" href="#about" th:text="#{zyy.navbar.about}">About</a></li>
									<li><a class="page-scroll" href="#services" th:text="#{zyy.navbar.services}">Services</a></li>
									<!--
									<li><a class="page-scroll" href="#team" th:text="#{zyy.navbar.team}">Team</a></li>
									-->
									<li><a class="page-scroll" href="#portfolio" th:text="#{zyy.navbar.qualification.documents}">Portfolio</a></li>
									<li><a class="page-scroll" href="#blog" th:text="#{zyy.navbar.news}">Blog</a></li>
									<li><a class="page-scroll" href="#recruitment" th:text="#{zyy.navbar.recruitment}">Recruitment</a></li>
									<li><a class="page-scroll" href="#contact" th:text="#{zyy.navbar.contact}">Contact</a></li>
								</ul>
							</div>
							<!-- navbar-collapse -->
						</nav>
						<!-- END: Navigation -->
					</div>
				</div>
			</div>
		</div>
		<!-- header-area end -->
	</header>
	<!-- header end -->

	<div th:replace="eBusiness/fragments/jsScripts :: scripts"></div>
</body>
</html>