<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<title>eBusiness Bootstrap Template</title>

<!-- Favicons -->
<link th:href="@{eBusiness/img/favicon.png}" th:rel="icon" rel="icon">
<link th:href="@{eBusiness/img/apple-touch-icon.png}" th:rel="apple-touch-icon" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

<!-- Bootstrap CSS File -->
<link th:href="@{eBusiness/lib/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet" rel="stylesheet" type="text/css">

<!-- Libraries CSS Files -->
<link th:href="@{eBusiness/lib/nivo-slider/css/nivo-slider.css}" th:rel="stylesheet" rel="stylesheet" type="text/css">
<link th:href="@{eBusiness/lib/owlcarousel/owl.carousel.css}" th:rel="stylesheet" rel="stylesheet" type="text/css">
<link th:href="@{eBusiness/lib/owlcarousel/owl.transitions.css}" th:rel="stylesheet" rel="stylesheet" type="text/css">
<link th:href="@{eBusiness/lib/font-awesome/css/font-awesome.min.css}" th:rel="stylesheet" rel="stylesheet" type="text/css">
<link th:href="@{eBusiness/lib/animate/animate.min.css}" th:rel="stylesheet" rel="stylesheet" type="text/css">
<link th:href="@{eBusiness/lib/venobox/venobox.css}" th:rel="stylesheet" rel="stylesheet" type="text/css">

<!-- Nivo Slider Theme -->
<link th:href="@{eBusiness/css/nivo-slider-theme.css}" th:rel="stylesheet" rel="stylesheet" type="text/css">

<!-- Main Stylesheet File -->
<link th:href="@{eBusiness/css/style.css}" th:rel="stylesheet" rel="stylesheet" type="text/css">

<!-- Responsive Stylesheet File -->
<link th:href="@{/eBusiness/css/responsive.css}" th:rel="stylesheet" rel="stylesheet" type="text/css">

</head>

<body>
</body>

</html>